<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>CFBundleIconFile</key>
        <string>bitcoin.icns</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>PoS-N 1.1.0.1</string>
        <key>CFBundleExecutable</key>
        <string>PoSN-Qt</string>
        <key>CFBundleIdentifier</key>
        <string>us.posncoin.posncoin-qt</string>
        <key>CFBundleShortVersionString</key>
        <string>1.1.0.1</string>
        <key>CFBundleSignature</key>
        <string>P0SN</string>
        <key>CFBundleVersion</key>
        <string>1.1.0.1</string>
</dict>
</plist>
